{{!-- Страница идентификации --}}
{{!-- <form method="POST" action="/auth/signin">
    <input name="email" placeholder="email" type="email" />
    <input name="password" placeholder="password" type="password" />
    <button>Sign In</button>
</form> --}}

<div class="d-flex justify-content-center">
    <form method="POST" action="/auth/signin" class="d-flex flex-column">
        <input name="email" placeholder="Email" type="email" class=" mb-2" />
        <input name="password" placeholder="Enter your password" type="password" class=" mb-2" />
        <button type="submit" class="btn btn-success">Log In</button>
    </form>
</div>